/*Global Styles*/
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fafafa;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.finor-form {
  padding: 40px;
  padding-top: 0px;
}

.finor-form > h1 {
  text-align: center;
  margin: 0px;
}

.finor-form .form__field {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.finor-form label {
  margin-bottom: 5px;
  text-align: center;
}

.finor-form .form__field input,
.finor-form .form__field select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 100px;
  font-size: 1.2rem;
}

.finor-form .form__field select option[data-type="Gasto"] {
  color: red;
}
.finor-form .form__field select option[data-type="No Gasto"] {
  color: green;
}

.positive {
  color: red;
}
.negative {  
  color: green;
}

.positive, .negative {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: 900;
}

.finor-form button,
.analisis-gastos button {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  background-color: #1e1e1e;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 20px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.header {
  background-color: #1e1e1e;
  text-align: center;
  position: sticky;
  z-index: 1;
  top: 0;
  height: 80px;
}

.header .header__title a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

.app__container {
  margin: auto;
  width: 90%;
  max-width: 1024px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.app__container .main-menu {
  padding: 20px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.app__container main .main-menu__options {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.app__container .main-menu__options a.main-menu__option {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #1e1e1e;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.app__container h3.title {
  margin: 0;
  position: sticky;
  z-index: 0;
  top: 80px;
  background-color: #fafafa;
  border-bottom: 1px solid #ccc;
}

.app__container h4.title {
  padding: 20px;
  text-align: center;
  margin: 0;
}

.analisis-gastos button {
  margin: 10px auto;
  margin-top: 0px;
}

.analisis-gastos button a {
  text-decoration: none;
  color: #fff;
}

.ranking {
  display: flex;
  flex-direction: column;
  margin: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 20px;
}

.ranking__cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 20px;
}

/* Estilos para cada card */
.ranking__card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 20px;
}

.ranking__card h5 {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.ranking__card ol li {
  font-weight: bold;
}

.ranking__card ul li {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
}
table th {
  background-color: #1e1e1e;
  color: #fff;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tr:hover {
  background-color: #ddd;
}
table td {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .app__container {
    width: 100%;
    max-width: auto;
    min-height: 100vh;
  }
  .finor-form .form__field input,
  .finor-form .form__field select {
    width: 80%;
    margin: auto;
  }

  .finor-form {
    margin-top: 40px;
  }

  .ranking__cards-container {
    grid-template-columns: 1fr;
  }
  .app__container .ranking h4.title {
    padding: 5px;
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
