{% extends "control_finanzas/base.html" %} {% block content %}
<div class="analisis-gastos">
  <h3 class="title">▶️ Análisis Gastos 🤖</h3>
  <h4 class="title">📅 Movimientos del último mes 🏦</h4>
  <button>
    <a href="/crear-gastos/">Agregar Gasto</a></button>
  <div class="tabla-transacciones">
    {% include "control_finanzas/components/expenses-table.html" %}
  </div>
   <div>
    <h4 class="title">⚠️ - Tiempo de Análisis - ⚠️</h4>
    <div class="form__field">
      <label for="months-quantity">Meses:</label>
      <select id="categoria" name="months-quantity" required>
        <option value="empresa">1</option>
        <option value="hogar">3</option>
        <option value="educacion">4</option>
        <option value="entretenimiento">6</option>
      </select>
    </div>
  </div>
  
</div>
{% endblock %}
