{% extends "control_finanzas/base.html" %} {% block content %}
<div class="analisis-gastos">
  <h3 class="title">▶️ Análisis Gastos 🤖</h3>
  <h4 class="title">📅 Movimientos del último mes 🏦</h4>
  <button>
    <a href="/crear-gastos/">Agregar Gasto</a>
  </button>
  <button>
    <a href="#rankings">Rankings</a>
  </button>
  <div class="tabla-transacciones">
    {% include "control_finanzas/components/expenses-table.html" %}
  </div>

  <div id = "rankings" class = "ranking-gastos">
    {% include "control_finanzas/components/expenses-ranking.html" %}
  </div>
  
  <div class = "summary-gastos">
    {% include "control_finanzas/components/summarybox.html" %}
  </div>
</div>
{% endblock %}
