{% extends "control_finanzas/base.html" %} {% block content %} 
<div class="main-menu">
  <h1>👋 Hola, Mock User!</h1>
  <!-- Botones -->
  <div class="main-menu__options">
    {% include "control_finanzas/components/button.html" with titulo="Ingresar gastos" url="/crear-gastos/" class="main-menu__option" %}
    {% include "control_finanzas/components/button.html" with titulo="Análisis de gastos" url="/analisis-gastos/" class="main-menu__option" %}
    {% include "control_finanzas/components/button.html" with titulo="Mensajes y Alertas" url="/mensajes-alertas/" class="main-menu__option" %}
  </div>
</div>
{% endblock %} 
