{% extends "control_finanzas/base.html" %} {% block content %} 
<div class="main-menu">
  <h1>👋 Hola, Mock User!</h1>
  <h3>Tu Tranquilidad financiera está a solo un click de distancia con FINOR.</h3>
  <!-- Botones -->
  <div class="main-menu__options">
    {% include "control_finanzas/components/button.html" with titulo="Ingresar Movimientos" url="/crear-gastos/" class="main-menu__option" %}
    {% include "control_finanzas/components/button.html" with titulo="Análisis de gastos" url="/analisis-gastos/" class="main-menu__option" %}
    {% include "control_finanzas/components/button.html" with titulo="Mensajes y Alertas" url="/mensajes-alertas/" class="main-menu__option" %}
    {% include "control_finanzas/components/button.html" with titulo="Metas y Ahorros" url="/metas-ahorros/" class="main-menu__option" %}
    {% include "control_finanzas/components/button.html" with titulo="Calendario" url="/calendario/" class="main-menu__option" %}
  </div>
</div>
{% endblock %} 
