<div class="finor-form">
  <h1>Ingresa un Movimiento</h1>
  <form id="expenseForm" data-url="{% url 'create_expense' %}">
    {% csrf_token %}
    <div class="form__field">
      <label for="value">Valor:</label>
      <div class="input-cop-container">
        <input
          id="value-input"
          oninput="formatCurrency()"
          type="text"
          name="value"
          required
        />
        <span class="cop-label">COP</span>
      </div>
    </div>
    <div class="form__field">
      <label for="description">Descripción:</label>
      <input type="text" name="description" required />
    </div>
    <div class="form__field">
      <label for="category">Categoría 🔻 / 💲:</label>
      <select id="categoria" name="category" required>
        <option value="alimentacion" data-type="Gasto">🔻Alimentación 🍞</option>
        <option value="transporte" data-type="Gasto">🔻Transporte 🚌</option>
        <option value="cuentasypagos" data-type="Gasto">🔻Cuentas y Pagos 📄</option>
        <option value="hogar" data-type="Gasto">🔻Hogar 🏠</option>
        <option value="viajes" data-type="Gasto">🔻Viajes 🛩️</option>
        <option value="educacion" data-type="Gasto">🔻Educación 📚</option>
        <option value="entretenimiento" data-type="Gasto">🔻Entretenimiento 🎮</option>
        <option value="saludehigiene" data-type="Gasto">🔻Salud e Higiene ❤️‍🩹</option>
        <option value="ingreso" data-type="No Gasto">💲Ingreso De Dinero 💸</option>
      </select>
    </div>
    <div class="form__field">
      <label for="date">Fecha:</label>
      <input type="date" name="date" required />
    </div>
    <div class="form__field">
      <label for="photo"> Imagen: </label>
      <input name="photo" type="file" accept="image/*" />
    </div>
    <button id="submitBtn" type="submit">Guardar</button>
    <div id="message"></div>
  </form>
  {% load static %}
  <script src="{% static 'js/create_expense.js' %}" defer></script>
</div>
