{% load custom_filters %}
<table class="finor-table">
  <thead>
    <tr>
      <th>Valor</th>
      <th>Descripción</th>
      <th>Categoría</th>
      <th>Imagen</th>
    </tr>
  </thead>
  <tbody>
    {% for expense in expenses %}
    <tr>
      {% if expense.category != "ingreso" %}
      <td>
        <p class="gasto">{{ expense.value|to_float|currency}}</p>
      </td>
      {% else %}
      <td class="ingreso">
        <p>{{ expense.value|to_float|currency}}</p>
      </td>
      {% endif %}
      <td>
        <p>{{ expense.description }}</p>
      </td>
      <td>
        <p>{{ expense.category }}</p>
      </td>
      <td>
        <img src="{{ expense.photo }}" alt="expense image" width="100" />
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
