<table class="finor-table">
  {% load custom_filters %}
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Fecha establecida</th>
        <th>Fecha objetivo</th>
        <th>Valor</th>
        <th>Descripción</th>
        <th>Categoría</th>
      </tr>
    </thead>
    <tbody>
      {% for goal in goals %}
      <tr>
        <td>
          <p>{{ goal.name }}</p>
        </td>
        <td>
          <p>{{ goal.set_date }}</p>
        </td>
        <td>
          {% if goal.enable_target_date %}
          <p>{{ goal.target_date }}</p>
          {% else %}
          <p>N/A</p>
          {% endif %}
        </td>
        <td>
          <p>{{ goal.value|to_float|currency }}</p>
        </td>
        <td>
          <p>{{ goal.description }}</p>
        </td>
        <td>
          <p>{{ goal.category }}</p>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  