<div class="ranking">
    <h4 class="title">⚠️ - Resumen de gastos últimos 12 meses - ⚠️</h4>
    <div class="ranking__cards-container">
      <div class="ranking__card top_empresa">
        <h5>Empresa</h5>
        <ul>
          <li>Valor Total: 50,434,200 COP</li>
          <li>Mes Más Caro: Enero</li>
          <li>Día Más Caro: 30 Junio</li>
        </ul>
      </div>

      <div class="ranking__card top_hogar">
        <h5>Hogar</h5>
        <ul>
          <li>Valor Total: 30,211,900 COP</li>
          <li>Mes Más Caro: Diciembre</li>
          <li>Día Más Caro: 24 Diciembre</li>
        </ul>
      </div>

      <div class="ranking__card top_educacion">
        <h5>Educación</h5>
        <ul>
          <li>Valor Total: 12,034,100 COP</li>
          <li>Mes Más Caro: Enero</li>
          <li>Día Más Caro: 30 Noviembre</li>
        </ul>
      </div>

      <div class="ranking__card top_entretenimiento">
        <h5>Entretenimiento</h5>
        <ul>
          <li>Valor Total: 8,301,550 COP</li>
          <li>Mes Más Caro: Diciembre</li>
          <li>Día Más Caro: 14 Julio</li>
        </ul>
      </div>
    </div>
  </div>